html {
    box-sizing: border-box;
  
    height: 100%;
  
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
      display: flex;
      flex-direction: column;
  
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: black;
  
      color: white;
  }
  
  h1 {
    margin-bottom: 10;
    font-size: 30px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  input {
    box-shadow: none;
  }
  
  textarea {
    resize: none;
    outline: none;
    box-shadow: none;
    font-size: 2rem;
  }
  
  .content {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
